body,h1,h2,h3,h4,h5,h6,form,fieldset,legend,ul,ol,li,img,fieldset,blockquote,caption,table,tr,dl,dt,dd { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; }
img,fieldset { border: 0; }
a { text-decoration: none; outline: none; }

/* ------ Basic Structure ----- */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	margin: 0px;
	padding: 0px;
}

#wrapper {
	font-size: 1.2em;
	text-align: left;
	padding: 20px;
}
