.block-nice_menus {
	Z-INDEX: 10; LINE-HEIGHT: normal; 
}
UL.nice-menu {
	Z-INDEX: 5; POSITION: relative
}
UL.nice-menu UL {
	Z-INDEX: 5; POSITION: relative
}
UL.nice-menu LI {
	POSITION: relative
}
UL.nice-menu A {
	DISPLAY: block
	
}
UL.nice-menu UL {
	VISIBILITY: hidden; POSITION: absolute
}
#header-region UL.nice-menu UL {
	VISIBILITY: hidden; POSITION: absolute
}
UL.nice-menu LI.over UL {
	VISIBILITY: visible
}
UL.nice-menu UL LI {
	DISPLAY: block
	
}
UL.nice-menu:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
UL.nice-menu LI:hover UL {
	VISIBILITY: visible
}
UL.nice-menu LI.menuparent LI:hover UL {
	VISIBILITY: visible
}
UL.nice-menu LI.menuparent LI.menuparent LI:hover UL {
	VISIBILITY: visible
}
UL.nice-menu LI.menuparent LI.menuparent LI.menuparent LI:hover UL {
	VISIBILITY: visible
}
UL.nice-menu LI.over UL {
	VISIBILITY: visible
}
UL.nice-menu LI.menuparent LI.over UL {
	VISIBILITY: visible
}
UL.nice-menu LI.menuparent LI.menuparent LI.over UL {
	VISIBILITY: visible
}
UL.nice-menu LI.menuparent LI.menuparent LI.menuparent LI.over UL {
	VISIBILITY: visible
}
#header-region UL.nice-menu LI:hover UL {
	VISIBILITY: visible
}
#header-region UL.nice-menu LI.menuparent LI:hover UL {
	VISIBILITY: visible
}
#header-region UL.nice-menu LI.menuparent LI.menuparent LI:hover UL {
	VISIBILITY: visible
}
#header-region UL.nice-menu LI.over UL {
	VISIBILITY: visible
}
#header-region UL.nice-menu LI.menuparent LI.over UL {
	VISIBILITY: visible
}
#header-region UL.nice-menu LI.menuparent LI.menuparent LI.over UL {
	VISIBILITY: visible
}
UL.nice-menu LI:hover UL UL {
	VISIBILITY: hidden
}
UL.nice-menu LI:hover UL UL UL {
	VISIBILITY: hidden
}
UL.nice-menu LI:hover LI:hover UL UL {
	VISIBILITY: hidden
}
UL.nice-menu LI:hover LI:hover UL UL UL {
	VISIBILITY: hidden
}
UL.nice-menu LI:hover LI:hover LI:hover UL UL {
	VISIBILITY: hidden
}
UL.nice-menu LI:hover LI:hover LI:hover UL UL UL {
	VISIBILITY: hidden
}
UL.nice-menu LI.over UL UL {
	VISIBILITY: hidden
}
UL.nice-menu LI.over UL UL UL {
	VISIBILITY: hidden
}
UL.nice-menu LI.over LI.over UL UL {
	VISIBILITY: hidden
}
UL.nice-menu LI.over LI.over UL UL UL {
	VISIBILITY: hidden
}
UL.nice-menu LI.over LI.over LI.over UL UL {
	VISIBILITY: hidden
}
UL.nice-menu LI.over LI.over LI.over UL UL UL {
	VISIBILITY: hidden
}
#header-region UL.nice-menu LI:hover UL UL {
	VISIBILITY: hidden
}
#header-region UL.nice-menu LI:hover UL UL UL {
	VISIBILITY: hidden
}
#header-region UL.nice-menu LI:hover LI:hover UL UL {
	VISIBILITY: hidden
}
#header-region UL.nice-menu LI:hover LI:hover UL UL UL {
	VISIBILITY: hidden
}
#header-region UL.nice-menu LI:hover LI:hover LI:hover UL UL {
	VISIBILITY: hidden
}
#header-region UL.nice-menu LI:hover LI:hover LI:hover UL UL UL {
	VISIBILITY: hidden
}
#header-region UL.nice-menu LI.over UL UL {
	VISIBILITY: hidden
}
#header-region UL.nice-menu LI.over UL UL UL {
	VISIBILITY: hidden
}
#header-region UL.nice-menu LI.over LI.over UL UL {
	VISIBILITY: hidden
}
#header-region UL.nice-menu LI.over LI.over UL UL UL {
	VISIBILITY: hidden
}
#header-region UL.nice-menu LI.over LI.over LI.over UL UL {
	VISIBILITY: hidden
}
#header-region UL.nice-menu LI.over LI.over LI.over UL UL UL {
	VISIBILITY: hidden
}
UL.nice-menu LI.menuparent UL {
	OVERFLOW: visible! important
}
#header-region UL.nice-menu LI.menuparent UL {
	OVERFLOW: visible! important
}
UL.nice-menu LI.menuparent UL IFRAME {
	DISPLAY: block; Z-INDEX: -1; FILTER: mask(); LEFT: 0px; WIDTH: 20px; POSITION: absolute; TOP: 0px; HEIGHT: 20px
}
#header-region UL.nice-menu LI.menuparent UL IFRAME {
	DISPLAY: block; Z-INDEX: -1; FILTER: mask(); LEFT: 0px; WIDTH: 20px; POSITION: absolute; TOP: 0px; HEIGHT: 20px
}
