UL.nice-menu {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; border: 0; 
}
UL.nice-menu UL {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; border: 0;  
}
UL.nice-menu LI A:hover {
	COLOR: #FFF;
	text-decoration:none;
	background-color: #053769;
	
			
}
UL.nice-menu LI {
	BORDER-RIGHT: #507396 1px solid; BORDER-TOP: #e8f0f6 0px solid; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: none; MARGIN: 0px; BORDER-LEFT: #fff 0px solid;  
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	letter-spacing: .05em;
	font-weight: bold;
	text-transform: uppercase;
	
	
}

#header-region UL.nice-menu LI {
	 PADDING-BOTTOM: 0.1em; MARGIN: 0px; PADDING-TOP: 0.1em; 
	 
}
UL.nice-menu A {
		PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.1em; color: #19527F;
		font-size: 10px;
		
	
}

UL.nice-menu .active{
	color: #184674;
font-weight: bold;
	
}
UL.nice-menu UL {
	BORDER-bottom: #99BBD9 0px solid; BORDER-LEFT-WIDTH: 0px; LEFT: -1px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-RIGHT: 0px; TOP: 1.5em; BORDER-RIGHT-WIDTH: 0px;  Padding-top: 10px; line-height: 17px; 
}
#header-region UL.nice-menu UL {
	BORDER-TOP: #99BBD9 1px solid; BORDER-LEFT-WIDTH: 0px; LEFT: -1px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-RIGHT: 0px; TOP: 1.15em; BORDER-RIGHT-WIDTH: 0px; 
}
#header-region UL.nice-menu UL {
	TOP: 1.5em
	
}
UL.nice-menu UL LI {
	Padding: 2px;
	WIDTH: 150px;
	BACKGROUND-COLOR: #EBECEE; 
	font-weight: normal;
	text-transform: none;
	BORDER-RIGHT: #D9D9D9 0px solid;
	BORDER-BOTTOM: #D9D9D9 1px solid;
	
	
	
}
UL.nice-menu-right {
	WIDTH: 12.5em
}
UL.nice-menu-left {
	WIDTH: 12.5em
}
UL.nice-menu-right LI {
	WIDTH: 12.5em
}
UL.nice-menu-left LI {
	WIDTH: 12.5em
}
UL.nice-menu-right UL {
	LEFT: 12.5em; WIDTH: 12.5em; TOP: -1px
}
UL.nice-menu-right UL UL {
	LEFT: 12.5em; WIDTH: 12.5em; TOP: -1px
}
UL.nice-menu-right LI.menuparent {
	BACKGROUND: #c7d8e5 no-repeat right center; 
}
UL.nice-menu-right LI LI.menuparent {
	BACKGROUND: url(arrow-right.png) #c7d8e5 no-repeat right center
}
UL.nice-menu-right LI.menuparent:hover {
	BACKGROUND: url(arrow-right.png) #ccc no-repeat right center
}
UL.nice-menu-right LI.over {
	BACKGROUND: url(arrow-right.png) #ccc no-repeat right center
}
UL.nice-menu-right LI LI.menuparent:hover {
	BACKGROUND: url(arrow-right.png) #ccc no-repeat right center
}
UL.nice-menu-right LI LI.over {
	BACKGROUND: url(arrow-right.png) #ccc no-repeat right center
}
UL.nice-menu-left LI UL {
	LEFT: -12.65em; WIDTH: 12.5em; TOP: -1px
}
UL.nice-menu-left LI UL LI UL {
	LEFT: -12.65em; WIDTH: 12.5em; TOP: -1px
}
UL.nice-menu-left LI.menuparent {
	BACKGROUND: url(arrow-left.png) #eee no-repeat left center
}
UL.nice-menu-left LI LI.menuparent {
	BACKGROUND: url(arrow-left.png) #eee no-repeat left center
}
UL.nice-menu-left LI.menuparent:hover {
	BACKGROUND: url(arrow-left.png) #ccc no-repeat left center
}
UL.nice-menu-left LI.over {
	BACKGROUND: url(arrow-left.png) #ccc no-repeat left center
}
UL.nice-menu-left LI LI.menuparent:hover {
	BACKGROUND: url(arrow-left.png) #ccc no-repeat left center
}
UL.nice-menu-left LI LI.over {
	BACKGROUND: url(arrow-left.png) #ccc no-repeat left center
}
UL.nice-menu-left A {
	PADDING-LEFT: 14px
}
UL.nice-menu-left UL A {
	PADDING-LEFT: 12px
}
UL.nice-menu-down {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL.nice-menu-down LI {
	BORDER-TOP: #ccc 0px solid
}
UL.nice-menu-down LI LI {
	BORDER-TOP-WIDTH: 0px
}
UL.nice-menu-down UL {
	LEFT: 0px
}
UL.nice-menu-down UL LI {
	CLEAR: both
}
UL.nice-menu-down LI UL LI UL {
	LEFT: 12.5em; TOP: -1px
}
#header-region UL.nice-menu-down LI UL LI UL {
	LEFT: 12.5em; TOP: -1px
}

UL.nice-menu-down LI.menuparent {
	BACKGROUND: url(arrow-down.png)  no-repeat right center
}
#header-region UL.nice-menu-down LI.menuparent {
	BACKGROUND: url(arrow-down.png) #eee no-repeat right center
}
UL.nice-menu-down LI.menuparent:hover {
	BACKGROUND: url(arrow-down.png)  no-repeat right center
}
UL.nice-menu-down LI.over {
	BACKGROUND: url(arrow-down.png) #ccc no-repeat right center
}
#header-region UL.nice-menu-down LI.menuparent:hover {
	BACKGROUND: url(arrow-down.png) #ccc no-repeat right center
}
#header-region UL.nice-menu-down LI.over {
	BACKGROUND: url(arrow-down.png) #ccc no-repeat right center
}
UL.nice-menu-down LI LI.menuparent {
	BACKGROUND: url(arrow-right.png) #eee no-repeat right center
}
#header-region UL.nice-menu-down LI LI.menuparent {
	BACKGROUND: url(arrow-right.png) #eee no-repeat right center
}
UL.nice-menu-down LI LI.menuparent:hover {
	BACKGROUND: url(arrow-right.png) #ccc no-repeat right center
}
UL.nice-menu-down LI LI.over {
	BACKGROUND: url(arrow-right.png) #ccc no-repeat right center
}
#header-region UL.nice-menu-down LI LI.menuparent:hover {
	BACKGROUND: url(arrow-right.png) #ccc no-repeat right center
}
#header-region UL.nice-menu-down LI LI.over {
	BACKGROUND: url(arrow-right.png) #ccc no-repeat right center
}
